<meta charset="utf-8">
		
		
<div ng-app="myApp" ng-controller="mainController" >
<div ng-controller="modelController" >

<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm-4">

			<!--
			<div class="row">
				<div class="col-sm-3 text-right"><b>Tilt Y angle:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.tiltY" rz-slider-options="{ceil:90}"></rzslider> </div>
			</div>	
			<div class="row">
				<div class="col-sm-3 text-right"><b>Tilt Z angle:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.tiltZ" rz-slider-options="{ceil:90}"></rzslider> </div>
			</div>	
			-->
			<div class="row">
				<div class="col-sm-3 text-right"><b>Tilt Y:</b></div> 
				 <input class="col-sm-3 form-control" type="number" ng-model="params.tiltY" ></input> 
				 <div class="col-sm-3 text-right"><b>Tilt Z:</b></div> 
				 <input class="col-sm-3 form-control" type="number" ng-model="params.tiltZ" ></input> 
			</div>	
			<div class="row">
				<div class="col-sm-3 text-right"><b>Zeeman angle:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.zeeman" rz-slider-options="{ceil:90, floor:-90, step:10}"></rzslider> </div>
			</div>	
			<div class="row">
				<div class="col-sm-3 text-right"><b> Conical periods:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.conicalPeriods" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>

			<div class="row">
				<div class="col-sm-3 text-right"><b> Conical periods2:</b></div> 
				<rzslider class="col-sm-9" rz-slider-model="params.conicalPeriods2" rz-slider-options="{ceil:180, step:10}"></rzslider> 
			</div>



			<div class="row">
				<div class="col-sm-3 text-right"><b> Phase periods:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.phasePeriods" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>


			<hr class="row"></hr>
			<h2> Dynamic cone shape </h2>

			<div class="row">
				<div class="col-sm-3 text-right"><b> Angle a:</b></div> 
				<rzslider class="col-sm-9" rz-slider-model="params.hallAmpA" rz-slider-options="{ceil:90, step:10}"></rzslider>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> Angle b:</b></div> 
				<rzslider class="col-sm-9" rz-slider-model="params.hallAmpB" rz-slider-options="{ceil:90, step:10}"></rzslider>
			</div>

			<div class="row">
				<div class="col-sm-3 text-right"><b> Periodic Angle a:</b></div> 
				<rzslider class="col-sm-9" rz-slider-model="params.hallAmpPeriodicA" rz-slider-options="{ceil:90, step:10}"></rzslider>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> Periodic Angle b:</b></div> 
				<rzslider class="col-sm-9" rz-slider-model="params.hallAmpPeriodicB" rz-slider-options="{ceil:90, step:10}"></rzslider>
			</div>

			<div class="row">
				<div class="col-sm-3 text-right"><b> Periods a:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.hallPeriodsA" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> Periods b:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.hallPeriodsB" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>

			<div class="row">
				<div class="col-sm-3 text-right"><b> cone rotation:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.coneRotation" rz-slider-options="{ceil:180, floor:-180, step:10}"></rzslider> </div>
			</div>

			<div class="row">
				<p class="col-sm-3 text-right"><b> phase offset a:</b></p> 
				<rzslider class="col-sm-9" rz-slider-model="params.phaseOffsetA" rz-slider-options="{ceil:180, floor:-180, step:10}"></rzslider>
			</div>
			<div class="row">
				<p class="col-sm-3 text-right"><b> phase offset b:</b></p> 
				<rzslider class="col-sm-9" rz-slider-model="params.phaseOffsetB" rz-slider-options="{ceil:180, floor:-180, step:10}"></rzslider>
			</div>
	
						

			<!--
			<div class="row">
				<div class="col-sm-3 text-right"><b> Speed:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="speed" rz-slider-options="{ceil:100}"></rzslider> </div>
			</div>
			<div class="row" ng-hide="speed!=0">
				<div class="col-sm-3 text-right"><b> time step:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="timeStep" rz-slider-options="{ceil:35}"></rzslider> </div>
			</div>
			-->

			<div class="row">
				<div class="col-sm-12 text-right">
					<textarea id="structureTextarea" ng-model="jsonStructure"  class="form-control" style="min-width: 100%"></textarea>
					<button ng-click="copyStructure()">copy</button>
					<button ng-click="loadStructure()">load</button>
				</div>
			</div>

	
			
		</div>
	

		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-12">	
					<div animation model="spinStructure" speed=20 style="height: 600px; width:100%;"> </div>
				</div>
			</div>
		</div>		

	</div>



	<div class="row">
		<div class="col-sm-4">
			<div colormap delay="delay" model="fftStructure" options="dfmrOptions" idx=6> </div>
		</div>
		<div class="col-sm-4">
			<div colormap delay="delay" model="fftStructure" options="dfmrOptions" idx=8> </div>
		</div>
		<div class="col-sm-4">
			<div colormap delay="delay" model="fftStructure" options="dfmrOptions" idx=10> </div>
		</div>
	</div>
			

	
</div>
</div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.css">
<link rel="stylesheet" href="styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>

<script src="./TrackballControls.js"></script>
<script src="./OrbitControls.js"></script>
<script src="./Detector.js"></script>
<script src="./fft.js"></script>

<script>
	var app = angular.module('myApp', ['rzSlider']);
</script>


<script src="./colormapDirective.js"></script>
<script src="./animationDirective.js"></script>
<script src="./js.js"></script>



<script>
	
	app.controller('mainController', function($scope) {

		$scope.params = {};
		$scope.params.tiltY = 0;
		$scope.params.tiltZ = 0;
		$scope.params.zeeman = 0;

		$scope.params.conicalPeriods = 2; // in z direction
		$scope.params.conicalPeriods2 = 2; // in z direction
		$scope.params.phasePeriods = 0;

		$scope.params.hallAmpA = 10;
		$scope.params.hallAmpB = 10;
		$scope.params.hallAmpPeriodicA = 10;
		$scope.params.hallAmpPeriodicB = 10;
		$scope.params.hallPeriodsA = 0;
		$scope.params.hallPeriodsB = 0;
		$scope.params.phaseOffset = 0;

		$scope.params.coneRotation = 45;



		if (localStorage.getItem("params") === null) {
		} else {
			$scope.params = Object.assign($scope.params, JSON.parse(localStorage.getItem('params')));
		}





		$scope.$watch('params', function (newVal) {
			localStorage.setItem('params', JSON.stringify($scope.params));
			
		}, true);






		$scope.loadStructure = function() {
			// convert array back into the three vector array

			var textBox = document.getElementById("structureTextarea");

			$scope.spinStructure = JSON.parse(textBox.innerHTML);
			for (i = 0; i < $scope.spinStructure.length; i++) { 
				for (j=0; j < $scope.spinStructure[i].length; j++) { 
					$scope.spinStructure[i][j] = new THREE.Vector3( $scope.spinStructure[i][j][0], $scope.spinStructure[i][j][1], $scope.spinStructure[i][j][2] )
				}
			}

			for (i = 0; i < $scope.spinStructure.length; i++) { 
				$scope.fftStructure[i] = fftStructure($scope.spinStructure[i]);
			}
			//drawCircles();
		};

		$scope.copyStructure = function(){
			var textBox = document.getElementById("structureTextarea");
			textBox.select();
			document.execCommand("copy");
		}

	});
</script>

