<meta charset="utf-8">
		
		
<div ng-app="myApp" ng-controller="mainController" >
<div ng-controller="modelController" >

<div class="container-fluid">


	
	<div class="row">
		<div class="col-sm-5">



			<nav id="navbar-example2" class="navbar navbar-light bg-light">
				
				<ul class="nav nav-pills">
				  <li class="nav-item">
					<a class="nav-link" href="#static"> Static </a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#dynamic"> Dynamic </a>
				  </li>
				</ul>
			  </nav>
			  <div class="container-fluid" data-spy="scroll" data-target="#navbar-example2" data-offset="0" style="height:780px;  overflow-y:scroll; overflow-x:hidden; ">






				<h4 id="static"> Static </h4>

				<div class="row">
					<div class="col-sm-3 text-right"><b>Tilt Y angle:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.tiltY" rz-slider-options="{ceil:90, step:5}"></rzslider>
				</div>	
				<div class="row">
					<div class="col-sm-3 text-right"><b>Tilt Z angle:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.tiltZ" rz-slider-options="{ceil:360, floor:0, step:5}"></rzslider>
				</div>	
				
				<!-- <div class="row">
					<div class="col-sm-3 text-right"><b>Tilt Y:</b></div> 
					 <input class="col-sm-3 form-control" type="number" ng-model="params.tiltY" ></input> 
					 <div class="col-sm-3 text-right"><b>Tilt Z:</b></div> 
					 <input class="col-sm-3 form-control" type="number" ng-model="params.tiltZ" ></input> 
				</div>	 -->
				<div class="row">
					<div class="col-sm-3 text-right"><b>Zeeman X :</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.zeemanX" rz-slider-options="{ceil:10, floor:-10, step:1}"></rzslider>
				</div>	
				<div class="row">
					<div class="col-sm-3 text-right"><b>Zeeman Y :</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.zeemanY" rz-slider-options="{ceil:10, floor:-10, step:1}"></rzslider>
				</div>	
				<div class="row">
					<div class="col-sm-3 text-right"><b>Zeeman Z :</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.zeemanZ" rz-slider-options="{ceil:10, floor:-10, step:1}"></rzslider>
				</div>	

				<div class="row">
					<div class="col-sm-3 text-right"><b> Conical periods:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.conicalPeriods" rz-slider-options="{ceil:8, floor:-8}"></rzslider>
				</div>
				<div class="row">
					<div class="col-sm-3 text-right"><b> Conical phase:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.conicalPhase" rz-slider-options="{ceil:360, step:10}"></rzslider>
				</div>
	
				<div class="row">
					<div class="col-sm-3 text-right"><b> Conical periods2:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.conicalPeriods2" rz-slider-options="{ceil:30, floor:-30, step:1}"></rzslider> 
				</div>





		
				<h4 id="dynamic"> Dynamic </h4>

				<div class="row">
					<div class="col-sm-3 text-right"><b> Phase periods:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.phasePeriods" rz-slider-options="{ceil:8, floor:-8}"></rzslider>
				</div>

				<div class="row">
					<div class="col-sm-3 text-right"><b> Angle a:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.hallAmpA" rz-slider-options="{ceil:90, step:10}"></rzslider>
				</div>
				<div class="row">
					<div class="col-sm-3 text-right"><b> Angle b:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.hallAmpB" rz-slider-options="{ceil:90, step:10}"></rzslider>
				</div>
	
				<div class="row">
					<div class="col-sm-3 text-right"><b> Periodic Angle a:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.hallAmpPeriodicA" rz-slider-options="{ceil:90, step:1}"></rzslider>
				</div>
				<div class="row">
					<div class="col-sm-3 text-right"><b> Periodic Angle b:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.hallAmpPeriodicB" rz-slider-options="{ceil:90, step:1}"></rzslider>
				</div>
	
				<div class="row">
					<div class="col-sm-3 text-right"><b> Periods a:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.hallPeriodsA" rz-slider-options="{ceil:8, floor:-8}"></rzslider>
				</div>
				<div class="row">
					<div class="col-sm-3 text-right"><b> Periods b:</b></div> 
					 <rzslider class="col-sm-9" rz-slider-model="params.hallPeriodsB" rz-slider-options="{ceil:8, floor:-8}"></rzslider>
				</div>
	
				<div class="row">
					<div class="col-sm-3 text-right"><b> cone rotation:</b></div> 
					<rzslider class="col-sm-9" rz-slider-model="params.coneRotation" rz-slider-options="{ceil:180, floor:-180, step:10}"></rzslider>
				</div>
	
				<div class="row">
					<p class="col-sm-3 text-right"><b> phase offset a:</b></p> 
					<rzslider class="col-sm-9" rz-slider-model="params.phaseOffsetA" rz-slider-options="{ceil:180, floor:-180, step:10}"></rzslider>
				</div>
				<div class="row">
					<p class="col-sm-3 text-right"><b> phase offset b:</b></p> 
					<rzslider class="col-sm-9" rz-slider-model="params.phaseOffsetB" rz-slider-options="{ceil:180, floor:-180, step:10}"></rzslider>
				</div>
		



			  </div>



			<div class="row">
				<div class="col-sm-6 text-right">
					<textarea id="structureTextarea" ng-model="jsonStructure"  class="form-control" style="min-width: 50%"></textarea>
				</div>
				<div class="col-sm-6 text-right">
					<textarea id="paramsTextarea"   class="form-control" style="min-width: 50%">{{params | json}}</textarea>
				</div>
					<button class="btn btn-primary" ng-click="copyStructure()">copy</button>
				
			</div>

	
			
		</div>
	

		<div class="col-sm-7">
			<div class="row">
					<div class="col-sm-12" animation model="spinStructure" speed=20 style="height: 600px; width:100%;"> 
			</div>
			<div class="row">
				<div class="col-sm-4" colormap model="fftStructure" idx=6> </div>
				<div class="col-sm-4" colormap model="fftStructure" idx=8> </div>
				<div class="col-sm-4" colormap model="fftStructure" idx=10> </div>
		</div>

		</div>		

	</div>



			

	
</div>
</div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.css">
<link rel="stylesheet" href="styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>

<script src="./TrackballControls.js"></script>
<script src="./OrbitControls.js"></script>
<script src="./Detector.js"></script>
<script src="./fft.js"></script>

<script>
	var app = angular.module('myApp', ['rzSlider']);
</script>


<script src="./colormapDirective.js"></script>
<script src="./animationDirective.js"></script>
<script src="./js.js"></script>




<script type="text/javascript" src="modelParams/model1.json"></script>






<script>
	
	app.controller('mainController', function($scope, dfmr) {

		$scope.params = {};
		$scope.params.tiltY = 0;
		$scope.params.tiltZ = 0;
		$scope.params.zeeman = 0;

		$scope.params.conicalPeriods = 2; // in z direction
		$scope.params.conicalPhase = 0;
		$scope.params.conicalPeriods2 = 2; // in z direction
		$scope.params.phasePeriods = 0;

		$scope.params.hallAmpA = 10;
		$scope.params.hallAmpB = 10;
		$scope.params.hallAmpPeriodicA = 10;
		$scope.params.hallAmpPeriodicB = 10;
		$scope.params.hallPeriodsA = 0;
		$scope.params.hallPeriodsB = 0;
		$scope.params.phaseOffset = 0;

		$scope.params.coneRotation = 45;



		if (localStorage.getItem("params") === null) {
		} else {
			$scope.params = Object.assign($scope.params, JSON.parse(localStorage.getItem('params')));
		}

		// load params from a saved model json file
		var urlParams = new URLSearchParams(window.location.search);
		if (urlParams.has('model')){
			$scope.params = eval(urlParams.get('model'));
		}









		$scope.$watch('params', function (newVal) {
			localStorage.setItem('params', JSON.stringify($scope.params));

		}, true);

		$scope.copyStructure = function(){
			var textBox = document.getElementById("structureTextarea");
			textBox.select();
			document.execCommand("copy");
		}

	});
</script>

