<meta charset="utf-8">
		
		
<div ng-app="myApp" ng-controller="mainController" >
<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm-4">

			<!--
			<div class="row">
				<div class="col-sm-3 text-right"><b>Tilt Y angle:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.tiltY" rz-slider-options="{ceil:90}"></rzslider> </div>
			</div>	
			<div class="row">
				<div class="col-sm-3 text-right"><b>Tilt Z angle:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.tiltZ" rz-slider-options="{ceil:90}"></rzslider> </div>
			</div>	
			-->
			<div class="row">
				<div class="col-sm-3 text-right"><b>Zeeman angle:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.zeeman" rz-slider-options="{ceil:90, floor:-90}"></rzslider> </div>
			</div>	
			<div class="row">
				<div class="col-sm-3 text-right"><b> Conical periods:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.conicalPeriods" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> Phase periods:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.phasePeriods" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> Cone angle a:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.hallA" rz-slider-options="{ceil:90}"></rzslider> </div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> cone angle b:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.hallB" rz-slider-options="{ceil:90}"></rzslider> </div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> cone periods a:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.hallPeriodsA" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><b> cone periods b:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="params.hallPeriodsB" rz-slider-options="{ceil:8, floor:-8}"></rzslider> </div>
			</div>
	
						

			<!--
			<div class="row">
				<div class="col-sm-3 text-right"><b> Speed:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="speed" rz-slider-options="{ceil:100}"></rzslider> </div>
			</div>
			<div class="row" ng-hide="speed!=0">
				<div class="col-sm-3 text-right"><b> time step:</b></div> 
				<div class="col-sm-9"> <rzslider rz-slider-model="timeStep" rz-slider-options="{ceil:35}"></rzslider> </div>
			</div>
			-->

			<div class="row">
				<div class="col-sm-12 text-right">
					<textarea id="structureTextarea" ng-model="structureArray"  class="form-control" style="min-width: 100%"></textarea>
					<button onClick="copyStructure()">copy</button>
					<button ng-click="loadStructure()">load</button>
				</div>
			</div>

	
			
		</div>
	

		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-12">
					<div id="structure" class="border"></div>		
				</div>
			</div>
		</div>		

	</div>



	<div class="row">
		<div class="col-sm-4">
			<div colormap delay="delay" model="fftStructure" options="dfmrOptions" idx=6> </div>
		</div>
		<div class="col-sm-4">
			<div colormap delay="delay" model="fftStructure" options="dfmrOptions" idx=8> </div>
		</div>
		<div class="col-sm-4">
			<div colormap delay="delay" model="fftStructure" options="dfmrOptions" idx=10> </div>
		</div>
	</div>
			

	
</div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.css">
<link rel="stylesheet" href="styles.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.min.js"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>

<script src='./three.min.js'></script>
<script src="./TrackballControls.js"></script>
<script src="./OrbitControls.js"></script>
<script src="./Detector.js"></script>
<script src="./fft.js"></script>


<script>
	function copyStructure(){
			var copyText = document.getElementById("structureTextarea");
			copyText.select();
			document.execCommand("copy");
		}
	
	var app = angular.module('myApp', ['rzSlider']);
</script>

<script src="./colormapDirective.js"></script>
<script src="./js.js"></script>
