
    
.container-fluid {
    zzheight: 100vh;  
}



.rzslider {
    height: 4px;
    margin: 35px 0px 10px 0px;

  }

.rzslider .rz-bar-wrapper {
    height: 20px;
    padding-top: 10px;
    margin-top: -10px;
  }

.rzslider .rz-bar {
    height: 2px;
  }

.rzslider .rz-pointer {
    top: -10px;
    width: 20px;
    height: 20px;
  }

.rzslider .rz-pointer:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
  }

